.movie-block--single {
	.movie-list {
		.header {
			box-shadow: none;
			padding: 0;
		}
		.wrapper {
			padding: 0;
		}
	}
}

.link-to-dashboard-block {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 30px;
}
