.movie-block {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0;
	&--item {
		position: relative;
		width: calc(33.33333% - 20px);
		box-shadow: 1px 1px 10px 1px rgba(#ccc, 0.5);
		margin-right: 30px;
		margin-bottom: 30px;
		transform-style: preserve-3d;
		perspective: 1000px;
		min-height: 530px;
		transition: 0.2s;
		&:nth-of-type(3n) {
			margin-right: 0;
		}
		
		&.show-block {
			min-height: 615px;
			.movie-block--form {
				transform: rotateY(0deg);
				visibility: visible;
				opacity: 1;
			}
			.movie-block--content {
				transform: rotateY(-180deg);
				visibility: hidden;
				opacity: 0;
			}
		}
	}
	&--form,
	&--content {
		transform: rotateY(0deg);
		transform-style: preserve-3d;
		transition: all 0.3s, transform .7s cubic-bezier(.4, .2, .2, 1);
	}
	
	&--title-description {
		padding: 20px;
	}
	&--img {
		display: block;
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		height: 280px;
		position: relative;
		
	}
	&--title {
		margin-bottom: 15px;
	}
	&--description {
		font-size: 15px;
		max-height: 200px;
		overflow: auto;
	}
	&--two-input {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.default-input-block {
			width: calc(50% - 10px);
		}
	}
	&--edit-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 5px;
		top: 5px;
		height: 50px;
		width: 50px;
		padding: 12px;
		border-radius: 100%;
		background-color: rgba(#fff, 0.7);
		transition: 0.2s;
		cursor: pointer;
		img {
			width: 100%;
		}
		&:hover {
			background-color: rgba(#fff, 0.9);
		}
	}
	
	&--form {
		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		transform: rotateY(180deg);
		visibility: hidden;
		padding: 10px 10px 60px;
		opacity: 0;
	}
	&--form-img {
		height: 230px;
		position: relative;
		margin-bottom: 20px;
		&:hover {
			.movie-block--form-input-block {
				opacity: 1;
			}
		}
	}
	&--form-input-block {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(#000, 0.5);
		opacity: 0;
		transition: 0.2s;
		input {
			cursor: pointer;
			width: 100%;
			height: 100%;
			opacity: 0;
		}
	}
	&--form-icon {
		width: 40px;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		img {
			width: 100%;
			height: 100%;
		}
	}
	p {
		margin-bottom: 10px;
		font-size: 15px;
	}
}

.btns-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	padding: 0 10px;
	.btn {
		width: calc(50% - 5px);
	}
}

.btn {
	display: inline-block;
	vertical-align: middle;
	background-color: blue;
	text-align: center;
	color: #ffffff;
	height: 40px;
	border-radius: 3px;
	overflow: hidden;
	padding: 10px 20px;
	cursor: pointer;
	transition: 0.2s;
	&:hover {
		background-color: darken(blue, 20%);
	}
}

.default-input-title {
	font-weight: bold;
	margin-bottom: 6px;
}

.default-input {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 10px;
	&.textarea {
		height: 100px;
		resize: none;
	}
	&:focus {
		border: 1px solid darken(#ccc, 20%);
	}
}